html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #232931;
}

#app {
  padding: 20px;
}

form {
  text-align: center;
  margin-top: 50px;
}
form h1 {
  color: #EEEEEE;
  background-color: #393E46;
  width: 250px;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 10px;
}
form div {
  margin-top: 40px;
  margin-bottom: 40px;
}
form div #input-field {
  font-size: 15px;
  min-width: 287px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 3px solid #4ECCA3;
  background-color: #393E46;
  color: #EEEEEE;
  transition: 0.3s;
}
form div #input-field:focus {
  border: 3px solid #26634f;
  outline: none;
}
form div #submit-btn {
  padding: 10px 10px;
  border-radius: 5px;
  width: 35px;
  border: none;
  background-color: #4ECCA3;
  color: #232931;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
form div #submit-btn:hover {
  background-color: rgb(68, 161, 132);
}

.radio-btns {
  text-align: center;
  margin-top: -28px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #393E46;
  width: 330px;
  padding: 5px 3px;
  border-radius: 5px;
  color: #EEEEEE;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.radio-btns label {
  cursor: pointer;
}
.radio-btns label:not(:last-child) {
  margin-right: 10px;
}
.radio-btns input {
  cursor: pointer;
}
.radio-btns .container {
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
}
.radio-btns .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-btns .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
}
.radio-btns .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-btns .container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.radio-btns .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-btns .container input:checked ~ .checkmark:after {
  display: block;
}
.radio-btns .container .checkmark:after {
  top: 4.9px;
  left: 4.9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.to-do-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.to-do-container .task-container {
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 25px;
}
.to-do-container .task-container.done {
  opacity: 0.5;
}
.to-do-container .task-container.done.delete-transition {
  opacity: 0;
}
.to-do-container .task-container p {
  background-color: #393E46;
  color: #EEEEEE;
  margin-right: 5px;
  width: 250px;
  word-wrap: break-word;
  padding: 7px;
  border-radius: 5px;
}
.to-do-container .task-container p:focus {
  outline: none;
}
.to-do-container .task-container.done p {
  text-decoration: line-through;
}
.to-do-container .task-container button {
  cursor: pointer;
}
.to-do-container .task-container .done-btn {
  padding: 7px 10px;
  color: #EEEEEE;
  background-color: #4ECCA3;
  color: #232931;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  width: 34px;
  height: 34px;
}
.to-do-container .task-container .delete-btn {
  padding: 5px 10px;
  background-color: crimson;
  color: #232931;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  width: 34px;
  height: 34px;
}

.delete-transition {
  transform: translateX(-10px);
  opacity: 0;
}

@media (max-width: 780px) {
  .to-do-container {
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 780px) {
  .task-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}/*# sourceMappingURL=style.css.map */